body {
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
}

ul {
    list-style-position: inside;
}